body, html {
  width: 100%;
  min-height: 100vh;
  font-family: Tahoma, Verdana, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.head {
  position: relative;
  text-align: center;
  height: auto;
  padding-top: 5px;
  color: #0071ce;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: bold;
  background-color: white;
}

.headerText {
  margin-top: 20px;
  color: #0071ce;
  font-size: 24px;
  z-index: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.form-container {
  display: flex;
  justify-content: space-between; /* Space out the columns */
  width: 80%;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 48%; /* Adjust width of each column */
}

.section {
  margin-bottom: 30px; /* Space between sections */
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #0071ce;
}

.textBox1,
.textBox2 {
  padding: 10px;
  background-color: white;
  height: 80px;
  width: 100%;
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #0071ce;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: bold;
}

.visible-input {
  height: 40px;
  width: 100%;
  border-color: #0071ce;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 10px;
  background-color: white;
  margin: 0 auto;
  color: #333;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 16px;
}

.Signinbutton {
  width: 200px;
  height: 80px;
  padding: 15px;
  background-color: #0071ce;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin: 30px;
  font-family: Tahoma, Verdana, sans-serif;
}

.Signinbutton:hover {
  background-color: #004494;
}

p {
  color: black;
  font-size: 14px;
  font-family: Tahoma, Verdana, sans-serif;
}

.error-message {
  color: red;
  font-size: 14px;
  font-family: Tahoma, Verdana, sans-serif;
}

.success-message {
  color: green;
  font-size: 14px;
}

textarea.visible-input {
  resize: none;
}